/*Fonts styles*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&family=Montserrat:wght@900&display=swap');

$bebas: 'Bebas Neue', cursive;
$mont: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$inter400: 400;
$inter500: 500;
$inter600: 600;

/*Colors*/

$greyC: #A6A6A6;
$greyO: #898CA9;
$black: #000000;
$white: #ffffff;
$bkBox: #151325;
$bkProduct: #0C0E20;
$purpleBk: #141428;
$vsSpan: #16182B;
$vsGrey: #CDD6F6;
$blueButton: #18C8FF;
$pinkButton: #933FFE;

