@use 'global/variables'as v;

.footer{
    background: v.$bkBox;

    &__hr{
        height: 0.3rem;
        background: linear-gradient(132.81deg, #FFFFFF 1.45%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, #151325, #151325);
    }

    &__main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        @media (min-width: 1024px){
            flex-direction: row;
            justify-content: space-evenly;
            
        }

        @media (min-width: 1200px){
            gap: 15rem;
        }
    }

    &__1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        @media (min-width: 1024px){
            align-items: start;
            margin: 3rem 0;
        }
    }

    &__2{
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: 2rem 0 3rem 0;

        @media (min-width: 1024px){
            margin: 3rem 0;
        }
        @media (min-width: 1200px){
            gap: 8rem;
        }
    }

    &__product{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__company{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__contact{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__a{
        font-size: 1rem;
        font-family: v.$inter;
        font-weight: 500;
        color: v.$greyC;

        @media (min-width: 1200px){
            font-size: 1.4rem;
        }

        &--color{
            font-size: 1.6rem;
            font-weight: 600;
            background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-bottom: 1rem;

            @media (min-width: 1200px){
                font-size: 2rem;
            }
        }
    }

    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__img{
        width: 20rem;

        @media (min-width: 1024px){
           width: 12rem;
        }
    }

    &__p{
        width: 20rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: v.$greyC;

        @media (min-width: 1024px){
            text-align: left;
        }

        @media (min-width: 1200px){
            font-size: 1.6rem;
        }

        &--r{
            font-size: 1rem;
            color: v.$white;
            padding: 1rem 0;
            text-align: center;

            @media (min-width: 1200px){
                font-size: 1.4rem;
                width: 50rem;
                padding: 2rem 0;
            }
        }
    }

    &__suscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__span{
        font-size: 1.6rem;
        font-family: v.$bebas;
        color: v.$white;

        @media (min-width: 1200px){
            font-size: 2rem;
        }
    }

    &__subs{
        display: flex;
        align-items: center;
        margin: 1rem 0;
        padding: 0.75rem;
        border: 1px solid v.$white;
        border-radius: 47px;

        @media (min-width: 1024px){
            padding: 0.5rem ;
        }
    }

    &__input{
        color: v.$white;

        @media (min-width: 1200px){
            font-size: 1.4rem;
        }
    }

    &__inputa{
        padding: 0.5rem;
        border-radius: 50%;
        background-color: v.$white;
        color: v.$blueButton;
        font-size: 1.5rem;

        @media (min-width: 1024px){
            padding: 0.5rem;
            margin-left: 3rem;
        }
    }

    &__rights{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}