.roadmap{
   background: url('/img/bkroadmap.svg');
    background-size: cover;
    background-position: center center ;
   min-height: 85rem;

   @media (min-width: 768px){
    min-height: 110rem;
}

   @media (min-width: 1024px){
    min-height: 140rem;
}

@media (min-width: 1200px){
    min-height: 180rem;
}
}


