@use 'global/variables' as v;

.vs{
    background: url('/img/bksale.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__span{
        font-size: 4.8rem;
        font-family: v.$mont;
        color: v.$vsSpan;
        text-transform: uppercase;
        margin-top: 4rem;

        @media (min-width: 1200px){
            font-size: 12.8rem;
            margin-top: 6rem;
        }

    }

    &__heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__h3{
        font-size: 3.6rem;
        font-family: v.$bebas;
        background: linear-gradient(112.76deg, #FFFFFF 20.6%, rgba(240, 240, 240, 0.9) 72.04%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
        margin-bottom: 16rem;
        z-index: 1;
        position: absolute;

        @media (min-width: 390px){
            margin-bottom: 6rem;
        }

        @media (min-width: 768px){
            margin-bottom: 3.5rem;
        }

        @media (min-width: 1200px){
            margin-bottom: 2rem;
            font-size: 6.4rem;
        }
    }

    &__p{
        width: 80%;
        font-size: 1.2rem;
        font-family: v.$inter;
        font-weight: 500;
        color: v.$greyC;
        text-align: center;
        margin-bottom: 4rem;


        @media (min-width: 768px){
            width: 60%;
        }

        @media (min-width: 1200px){
            font-size: 1.6rem;
            margin-bottom: 12rem;
            margin-top: 2rem;
        }

        

        &--download{
            font-weight: 400;
            margin-bottom: 2rem;

            @media (min-width: 768px){
                width: 40%;
            }

            @media (min-width: 1200px){
                margin-bottom: 5rem;
            }
        }

        &--social{
            @media (min-width: 1024px){
                text-align: start;
                
            }

            @media (min-width: 1200px){
                width: 44rem;
                
            }
        }
    }

    &__graphic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__total{
        font-size: 1.2rem;
        font-family: v.$inter;
        font-weight: 600;
        color: v.$vsGrey;
        margin-bottom: 1.5rem;

        @media (min-width: 1200px){
            font-size: 1.6rem;
            margin-bottom: 3rem;
        }
    }

    &__tokens{
        font-size: 2.4rem;
        font-family: v.$inter;
        font-weight: 600;
        color: v.$vsGrey;

        @media (min-width: 1200px){
            font-size: 2.8rem;
        }
    }

    &__img{
        margin-top: 2.5rem;
        width: 80%;

        @media (min-width: 1200px){
            margin-top: 5rem;
            width: 100%;
        }
    }

    &__whitepaper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__h4{
        font-size: 3rem;
        font-family: v.$bebas;
        color: v.$white;
        margin-top: 4rem;

        @media (min-width: 1200px){
            font-size: 5rem;
            margin-top: 12rem;
        }
    }

    &__blue{
        color: v.$blueButton;
    }

    &__a{
        color: v.$white;
        font-size: 1.2rem;
        font-family: v.$inter;
        font-weight: 500;
        padding: 1.2rem 4.6rem;
        text-transform: uppercase;
        background: linear-gradient(45deg ,v.$pinkButton 14.89%, v.$blueButton 85.85%);
        border-radius: 20px 30px 30px 5px;

        @media (min-width: 1200px){
            font-size: 1.6rem;
        }
    }

    &__community{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 1024px){
            flex-direction: row;
            gap: 10rem;
        }

        @media (min-width: 1300px){
            flex-direction: row;
            gap: 15rem;
        }

        
    }

    &__comm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 1024px){
            width: 23%;
            align-items: start;
        }

        @media (min-width: 1200px){
            width: 44rem;
        }
    }

    &__social{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem 3rem;
        background-color: v.$bkBox;
        border: 1px solid v.$white;
        border-radius: 8px;
        margin-bottom: 5rem;
        gap: 3rem;

        @media (min-width: 1024px){
            margin-bottom: 0;
            padding: 4rem 1.5rem;
            gap: 5rem;
        }

        @media (min-width: 1200px){
            gap: 6rem;
            justify-content: space-around;
            width: 55rem;
        }
    }

    &__icon{
        font-size: 3rem;
        text-align: center;

        &--twitter{
            color: #55ACEE;
        }

        &--discord{
            color: #5865F2;
        }

        &--telegram{
            width: 2.8rem;
            margin-bottom: 0.65rem;
            margin-left: 1rem;
        }
    }

    &__spans{
        font-size: 1.6rem;
        font-family: v.$bebas;
        color: v.$white;

        @media (min-width: 1200px){
            font-size: 2rem;
        }
    }
}